[submodule "lib/sa-labs-extension"]
	path = lib/sa-labs-extension
	url = https://github.com/ala-laurila-lab/sa-labs-extension
[submodule "lib/calibration-module"]
	path = lib/calibration-module
	url = https://github.com/ala-laurila-lab/calibration-module
